{% extends 'base.html' %}

{% block content %}
    <div class="container border border-dark mt-2" style="max-width: 480px">
        <div class="row mt-4">
            <div class="col align-self-center text-center">
                CADASTRE UMA NOVA TRANSAÇÃO
            </div>
        </div>
        <form action="{% url 'users:create_transaction' %}" method="POST">
            {% csrf_token %}
            <div class="row my-2">
                <div class="col d-flex justify-content-center">
                    <select name="menuDebitAccount" id="menuDebitAccount">
                        {% for user_account in all_user_accounts %}
                            <option value="{{ user_account.id }}">{{ user_account.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col d-flex justify-content-center">
                    <select name="menuCreditAccount" id="menuCreditAccount">
                        {% for user_account in all_user_accounts %}
                            <option value="{{ user_account.id }}">{{ user_account.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row my-2">
                <div class="col">
                    <input
                            type="number"
                            name="txtValue"
                            class="form-control"
                            placeholder="Informe o valor da transação"
                            required
                    >
                </div>
            </div>
            <div class="row mb-2">
                <div class="col d-flex justify-content-center">
                    <button class="btn btn-primary" type="submit">Cadastrar</button>
                </div>
            </div>
            </form>
    </div>
{% endblock %}
