{% extends 'base.html' %}

{% block content %}
    <h1>Todas as cópias emprestadas</h1>

    {% if copialivro_list %}
        <ul>
            {% for copialivro in copialivro_list %}
                <li class="{% if copialivro.emprestimo_vencido %}text-danger{% endif %}">
                    <a href="{% url 'catalogo:detalhe-livro' copialivro.livro.pk %}">
                        ({{ copialivro.pk }})
                        {{ copialivro.livro.titulo }}
                    </a>
                    - {{ copialivro.emprestado_para.get_username }}
                    (Devolução: {{ copialivro.devolucao|date:'d/m/Y' }})
                    {% if perms.catalogo.pode_marcar_copia_como_devolvida %}
                        - <a href="{% url 'catalogo:renovar-data-devolucao-livro' copialivro.id %}">Renovar</a>
                    {% endif %}

                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Você não possui empréstimos em aberto na biblioteca</p>
    {% endif %}
{% endblock %}
