{% extends 'base.html' %}

{% block content %}
    {% if validlink %}
        <p>Por favor confirme a sua nova senha.</p>
        <form method="POST" action="">
            {% csrf_token %}
            <table>
                <tr>
                    <td>
                        {{ form.new_password1.errors }}
                        <label for="id_new_password1">Nova senha:</label>
                    </td>
                    <td>
                        {{ form.new_password1 }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.new_password2.errors }}
                        <label for="id_new_password2">Confirmar Nova Senha:</label>
                    </td>
                    <td>
                        {{ form.new_password2 }}
                    </td>
                </tr>
                <tr>
                    <td><input type="submit" value="Trocar senha"></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Erro!</h1>
        <p>
            O link para reset de senha é inválido, provavelmente porque já foi utilizado.
            Por favor, solicite um novo link.
        </p>
    {% endif %}
{% endblock %}
