{% extends 'base.html' %}

{% block content %}
    {% if form.errors %}
        <p>Nome de usuário ou senha inválidos. Tente novamente.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p>Você não tem acesso a essa página. Para prosseguir, por favor faça o login com uma conta que possua acesso</p>
        {% endif %}
    {% endif %}

    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <table>
            <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </tr>
        </table>
        <input type="submit" value="Login">
        <input type="hidden" name="next" value="{{ next }}">
    </form>

{% endblock %}
